.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: auto;
}
.header {
  font-size: 24px;
  margin-bottom: 10px;
}
.calendar-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.month-controls {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.calendar {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.day {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  width: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.day.selected {
  background-color: black;
  color: white;
}
button {
  padding: 10px;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.blurred {
  filter: blur(1px);
  opacity: 0.6;
  cursor: not-allowed;
}
.day span {
  display: block;
}